<footer id="aa-footer">
    <!-- footer bottom -->
    <div class="aa-footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-top-area">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="aa-footer-widget">
                                    <h3>Meni</h3>
                                    <ul class="aa-footer-nav">
                                        <li><a href="@Url.Action("Index", "Front")">Pocetna</a></li>
                                        <li><a href="@Url.Action("Index", "FrontKnjige")">Knjige</a></li>
                                        <li><a href="#">O nama</a></li>
                                        <li><a href="@Url.Action("Index", "Kontakt")">Kontaktirajte nas</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Informacije</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="#">O nama</a></li>
                                            <li><a href="@Url.Action("Index", "Kontakt")">Kontakt</a></li>
                                            <li><a href="#">Nase knjizare</a></li>
                                            <li><a href="#">Najcesca pitanja</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3 id="Kontakt">Kontakt</h3>
                                        <address>
                                            <p> Savski Nasip 7, 11000 Beograd</p>
                                            <p><span class="fa fa-phone"></span>00-62-658-658</p>
                                            <p><span class="fa fa-envelope"></span>info@knjizara.rs</p>
                                        </address>
                                        <div class="aa-footer-social">
                                            <a href="https://www.facebook.com/" target="_blank"><span class="fab fa-facebook-f" "></span></a>
                                            <a href="https://twitter.com" target="_blank"><span class="fab fa-twitter"></span></a>
                                            <a href="https://plus.google.com" target="_blank"><span class="fab fa-google-plus-g"></span></a>
                                            <a href="https://www.youtube.com/" target="_blank"><span class="fab fa-youtube"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
