<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Shop | Home</title>

    <!-- Font awesome -->
    <link href="~/assets/Front-end/dailyShop/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/assets/Front-end/dailyShop/css/bootstrap.css" rel="stylesheet">
    <!-- SmartMenus jQuery Bootstrap Addon CSS -->
    <link href="~/assets/Front-end/dailyShop/css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <!-- Product view slider -->
    <link rel="stylesheet" type="text/css" href="~/assets/Front-end/dailyShop/css/jquery.simpleLens.css">
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="~/assets/Front-end/dailyShop/css/slick.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="~/assets/Front-end/dailyShop/css/nouislider.css">
    <!-- Theme color -->
    <link id="switcher" href="~/assets/Front-end/dailyShop/css/theme-color/default-theme.css" rel="stylesheet">
    <!-- <link id="switcher" href="~/assets/Front-end/dailyShop/css/theme-color/bridge-theme.css" rel="stylesheet"> -->
    <!-- Top Slider CSS -->
    <link href="~/assets/Front-end/dailyShop/css/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all">

    <!-- Main style sheet -->
    <link href="~/assets/Front-end/dailyShop/css/style.css" rel="stylesheet">

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>
<body>
    <!-- wpf loader Two -->
    <div id="wpf-loader-two">
        <div class="wpf-loader-two-inner">
            <span>Loading</span>
        </div>
    </div>
    <!-- / wpf loader Two -->
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start header section -->
    @{ Html.RenderPartial("~/Views/Front-end/layout/header.cshtml"); }
    <!-- / header section -->
    <!-- nav bar -->
    @{ Html.RenderPartial("~/Views/Front-end/layout/NavBar.cshtml"); }
    <!-- / nav bar -->

    @RenderBody()

    <!-- Client Brand, Subscribe section-->
    @{ Html.RenderPartial("~/Views/Front-end/layout/sections.cshtml"); }
    <!-- / Client Brand, / Subscribe section-->
    <!-- footer -->
    @{ Html.RenderPartial("~/Views/Front-end/layout/footer.cshtml"); }
    <!-- / footer -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/assets/Front-end/dailyShop/js/bootstrap.js"></script>
    <!-- SmartMenus jQuery plugin -->
    <script type="text/javascript" src="~/assets/Front-end/dailyShop/js/jquery.smartmenus.js"></script>
    <!-- SmartMenus jQuery Bootstrap Addon -->
    <script type="text/javascript" src="~/assets/Front-end/dailyShop/js/jquery.smartmenus.bootstrap.js"></script>
    <!-- To Slider JS -->
    <script src="~/assets/Front-end/dailyShop/js/sequence.js"></script>
    <script src="~/assets/Front-end/dailyShop/js/sequence-theme.modern-slide-in.js"></script>
    <!-- Product view slider -->
    <script type="text/javascript" src="~/assets/Front-end/dailyShop/js/jquery.simpleGallery.js"></script>
    <script type="text/javascript" src="~/assets/Front-end/dailyShop/js/jquery.simpleLens.js"></script>
    <!-- slick slider -->
    <script type="text/javascript" src="~/assets/Front-end/dailyShop/js/slick.js"></script>
    <!-- Price picker slider -->
    <script type="text/javascript" src="~/assets/Front-end/dailyShop/js/nouislider.js"></script>
    <!-- Custom js -->
    <script src="~/assets/Front-end/dailyShop/js/custom.js"></script>

</body>
</html>