<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/assets/Back-end/images/favicon.ico" type="image/ico" />
    <title>Gentelella Alela! | </title>
    <!-- Bootstrap -->
    <link href="~/assets/Back-end/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/assets/Back-end/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/assets/Back-end/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/assets/Back-end/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/assets/Back-end/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/assets/Back-end/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/assets/Back-end/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/assets/Back-end/build/css/custom.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0; display: flex; align-items: center; margin: 20px auto">
                        <div>
                            <svg style="width: 100px; height: 100px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="1500" height="1500" viewBox="0 0 1500 1500">
                                <path d="M196.000,461.000 C564.963,461.000 934.037,461.000 1303.000,461.000 C1303.000,653.647 1303.000,846.353 1303.000,1039.000 C1159.308,1039.000 1015.574,1039.000 871.882,1039.000 C871.882,1034.052 871.882,1029.103 871.882,1024.156 C1010.629,1024.156 1149.418,1024.156 1288.166,1024.156 C1288.166,841.404 1288.166,658.596 1288.166,475.844 C929.091,475.844 569.909,475.844 210.834,475.844 C210.834,658.596 210.834,841.404 210.834,1024.156 C348.964,1024.156 487.134,1024.156 625.264,1024.156 C625.264,1029.103 625.264,1034.052 625.264,1039.000 C482.190,1039.000 339.074,1039.000 196.000,1039.000 C196.000,846.353 196.000,653.647 196.000,461.000 ZM1047.111,529.655 C1047.845,542.226 1052.413,557.592 1055.455,569.549 C1062.007,595.307 1063.754,621.926 1070.289,646.554 C1073.125,657.243 1072.183,666.498 1074.925,677.170 C1083.607,710.964 1087.689,748.242 1096.249,782.008 C1098.918,792.535 1098.192,801.176 1100.884,811.697 C1105.172,828.447 1106.547,845.914 1111.083,863.652 C1113.488,873.058 1116.268,883.106 1116.646,894.268 C1111.729,898.041 1111.108,898.225 1101.812,897.979 C1097.378,895.083 1061.676,898.698 1054.528,899.835 C1022.728,904.893 991.566,910.252 964.595,920.246 C955.251,923.708 942.978,924.562 935.854,930.451 C948.833,928.905 961.815,927.358 974.794,925.812 C980.974,925.812 987.156,925.812 993.337,925.812 C1001.645,924.076 1017.483,923.985 1025.786,925.812 C1031.658,925.812 1037.531,925.812 1043.402,925.812 C1060.089,927.977 1076.781,930.142 1093.467,932.307 C1110.463,936.636 1127.464,940.966 1144.460,945.295 C1153.321,948.237 1161.978,952.993 1171.347,955.501 C1171.347,954.882 1171.347,954.264 1171.347,953.645 C1167.809,947.841 1169.524,938.731 1167.638,931.379 C1163.188,914.030 1163.064,894.985 1158.367,876.640 C1146.480,830.215 1144.590,778.837 1133.334,731.909 C1129.359,715.334 1129.775,697.431 1125.917,681.809 C1121.591,653.979 1117.263,626.140 1112.937,598.310 C1110.687,594.249 1105.010,591.501 1100.884,589.032 C1096.396,586.346 1088.112,581.535 1079.560,583.465 C1073.272,584.885 1067.781,587.447 1061.018,588.104 C1061.018,586.867 1061.018,585.630 1061.018,584.393 C1061.636,584.393 1062.254,584.393 1062.872,584.393 C1076.996,572.733 1115.882,582.769 1116.646,599.238 C1120.307,605.260 1119.278,614.104 1121.281,621.504 C1126.707,641.550 1126.735,663.599 1132.407,684.592 C1145.120,731.650 1147.932,784.254 1160.221,832.108 C1164.428,848.491 1163.556,863.933 1167.638,880.352 C1172.313,899.155 1172.818,919.020 1177.837,938.801 C1180.113,947.773 1183.366,959.400 1181.545,969.417 C1173.308,970.777 1166.187,964.860 1159.294,961.995 C1141.526,954.612 1121.952,950.731 1102.739,945.295 C1051.973,930.932 964.211,933.787 915.457,947.151 C903.596,950.402 892.579,951.914 882.080,955.501 C878.584,956.695 872.586,958.512 870.028,955.501 C869.719,952.718 869.410,949.934 869.101,947.151 C933.460,911.667 1004.382,886.517 1102.739,884.990 C1102.739,884.681 1102.739,884.372 1102.739,884.063 C1097.982,876.452 1099.717,863.790 1097.176,854.374 C1090.763,830.615 1089.660,804.888 1083.269,780.152 C1078.013,759.813 1075.524,736.523 1070.289,716.136 C1069.671,710.880 1069.053,705.621 1068.435,700.364 C1054.566,648.819 1049.059,592.704 1037.839,539.860 C1030.732,539.860 1023.622,539.860 1016.515,539.860 C1010.180,543.558 983.245,540.448 973.867,542.644 C942.613,549.962 911.243,551.846 883.935,563.055 C842.931,579.884 808.766,598.371 780.095,627.071 C772.797,634.376 758.392,647.501 755.063,657.687 C754.754,684.280 754.445,710.882 754.136,737.475 C753.488,790.197 752.247,843.887 752.281,897.979 C750.876,898.476 750.711,898.605 748.573,898.907 C746.658,893.123 747.646,883.064 747.646,875.713 C747.646,858.087 747.646,840.456 747.646,822.830 C746.719,767.788 745.791,712.729 744.864,657.687 C743.524,653.520 738.887,649.859 736.520,646.554 C724.452,629.701 710.708,616.889 693.872,604.804 C635.632,562.999 562.170,540.632 462.088,539.860 C462.088,540.479 462.088,541.097 462.088,541.716 C457.201,549.534 459.050,562.569 456.525,572.332 C451.185,592.982 450.099,615.543 444.472,637.276 C429.224,696.177 424.281,760.245 409.241,819.119 C403.595,841.221 404.641,864.403 397.188,884.990 C408.004,884.990 418.823,884.990 429.638,884.990 C434.564,887.828 442.875,885.405 449.108,886.846 C463.632,889.320 478.160,891.794 492.683,894.268 C526.425,903.829 558.757,913.883 588.178,926.740 C598.120,931.084 630.526,941.327 630.827,952.717 C624.510,959.283 617.654,955.767 607.648,952.717 C596.793,949.410 583.622,946.292 572.417,943.440 C564.383,942.512 556.346,941.584 548.312,940.657 C498.607,929.493 415.088,937.480 374.010,950.862 C363.295,954.353 351.448,957.550 340.633,961.995 C334.115,964.674 328.259,969.147 320.236,970.345 C319.186,968.911 319.231,969.563 318.382,967.562 C316.517,964.654 319.065,947.998 320.236,943.440 C326.332,919.722 327.965,893.069 334.143,869.218 C335.997,856.849 337.852,844.477 339.706,832.108 C347.340,802.335 349.874,768.780 357.322,739.331 C358.558,730.363 359.794,721.393 361.030,712.425 C367.620,686.623 369.138,658.767 375.864,631.709 C378.822,619.810 382.485,607.795 383.281,594.599 C392.569,588.281 403.513,575.132 423.148,579.754 C428.401,581.301 433.656,582.847 438.910,584.393 C438.910,585.630 438.910,586.867 438.910,588.104 C432.167,587.588 426.624,584.853 420.367,583.465 C408.378,580.808 390.343,592.220 386.990,598.310 C382.897,605.745 384.640,621.555 382.354,630.782 C377.459,650.542 375.878,673.185 371.229,692.942 C370.611,700.054 369.992,707.169 369.374,714.281 C355.778,794.679 342.177,875.102 328.580,955.501 C329.198,955.501 329.817,955.501 330.435,955.501 C338.105,948.887 351.629,948.126 361.957,944.368 C397.062,931.591 441.506,924.892 488.048,924.884 C506.169,924.881 528.246,924.001 544.603,927.668 C549.211,928.701 560.284,931.690 564.073,929.523 C558.390,928.790 553.973,925.737 549.239,923.957 C537.469,919.531 524.736,916.648 513.080,912.823 C475.742,900.571 432.081,898.195 386.063,897.979 C384.358,894.587 383.331,893.423 383.281,887.774 C388.052,880.143 386.365,867.651 388.844,858.085 C395.155,833.737 397.069,807.572 403.678,782.008 C412.397,748.283 416.326,710.966 425.003,677.170 C427.742,666.502 426.772,657.230 429.638,646.554 C436.245,621.944 437.877,595.293 444.472,569.549 C447.588,557.389 451.645,542.413 452.817,529.655 C475.614,528.301 502.279,528.550 523.279,533.366 C528.532,533.675 533.787,533.985 539.040,534.294 C552.946,536.768 566.856,539.242 580.761,541.716 C628.750,555.397 665.029,570.971 700.362,596.454 C718.586,609.598 739.067,625.956 749.500,646.554 C749.809,646.554 750.118,646.554 750.427,646.554 C750.427,646.245 750.427,645.935 750.427,645.626 C754.292,641.997 756.484,636.952 759.698,632.637 C766.781,623.132 780.796,609.097 790.294,602.021 C852.028,556.029 938.747,525.566 1047.111,529.655 Z" class="cls-1" style="fill: white;" />
                            </svg>
                        </div>
                        <a href="@Url.Action("Index", "Front")" class="site_title"><span>Book Store</span></a>
                    </div>
                    <div class="clearfix"></div>
                    @{ Html.RenderPartial("~/Views/Back-end/layout/sidebar.cshtml"); }
                </div>
            </div>
            @{ Html.RenderPartial("~/Views/Back-end/layout/topNav.cshtml"); }
            <!-- page content -->

            <div class="right_col" role="main">
                @RenderBody()
            </div>

            <!-- /page content -->
            @{ Html.RenderPartial("~/Views/Back-end/layout/footer.cshtml"); }
        </div>
        </div>
    <!-- jQuery -->
    <script src="~/assets/Back-end/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/assets/Back-end/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/assets/Back-end/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/assets/Back-end/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/assets/Back-end/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/assets/Back-end/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/assets/Back-end/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/assets/Back-end/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/assets/Back-end/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/assets/Back-end/vendors/Flot/jquery.flot.js"></script>
    <script src="~/assets/Back-end/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/assets/Back-end/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/assets/Back-end/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/assets/Back-end/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/assets/Back-end/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/assets/Back-end/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/assets/Back-end/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/assets/Back-end/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/assets/Back-end/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/assets/Back-end/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/assets/Back-end/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/assets/Back-end/vendors/moment/min/moment.min.js"></script>
    <script src="~/assets/Back-end/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/assets/Back-end/build/js/custom.min.js"></script>

</body>
</html>
