<!-- footer content -->
<footer>
    <div class="pull-right">
        © @DateTime.Now.Year Book Store d.o.o. - Virtual.Store System
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
