.lista {
    padding: 2%;
    margin: 0 auto;
}

.vise {
    display: flex;
    justify-content: center;
}

.lista li {
    height: 330px;
    width: 15%;
}

.naslov {
    font-size: 12px;
}

#dugme {
    background-color: black;
}

    #dugme:hover {
        background-color: #ff6666;
    }

.add:hover {
    border-bottom: 1px solid black;
}

.aa-search-box {
    margin-right: 5%;
    margin-top: 13px;
    position: relative;
    margin: auto;
    width: 50%;
}

    .aa-search-box input[type="text"] {
        border: 1px solid #ddd;
        color: #555;
        font-size: 14px;
        font-family: "Raleway", sans-serif;
        height: 40px;
        padding: 10px 55px 10px 10px;
        width: 100%;
    }

    .aa-search-box button {
        border: medium none;
        color: #fff;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        transition: all 0.5s;
        background-color: #ff6666;
    }
