@model Knjizara.ViewModels.KnjigaZanroviViewModel

@{
    ViewBag.Title = "Narudzbina";
    Layout = "~/Views/Front-end/layout/front_end_layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Css/Order.css">

<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table aa-wishlist-table">
                            <div class="table-responsive">
                                <p class="txt">Uspesna porudzbina.</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
