@model Knjizara.ViewModels.KnjigaZanroviViewModel

@{
    ViewBag.Title = "Omiljeno";
    Layout = "~/Views/Front-end/layout/front_end_layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Css/Users.css">

<h2>Omiljene knjige</h2>

<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table aa-wishlist-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Knjige</th>
                                            <th>Cena</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.KnjigeSaZanrovima)
                                        {
                                        <tr>
                                            <td><a class="remove" href="@Url.Action("Delete", "FrontKnjige", new { id = item.knjiga.id_knjige })"><fa class="fa fa-close"></fa></a></td>
                                            <td><a href="#"><img src="~/Images/@item.knjiga.slika" alt="img"></a></td>
                                            <td><a class="aa-cart-title" href="#">@Html.DisplayFor(modelItem => item.knjiga.naziv).ToString().ToUpper()</a></td>
                                            <td>@Html.DisplayFor(modelItem => item.knjiga.cena)</td>
                                            <td>Pripremljeno</td>
                                            <td><a href="@Url.Action("OrderNow", "ShoppingCart", new { id = item.knjiga.id_knjige })" class="aa-add-to-cart-btn">Dodaj u korpu</a></td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
